{% extends "store/main.html" %}
{% load static %}
{% load dict_helpers %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <h1>{{product.name}}</h1>
            <p>{{product.description}}</p>
            <h3>${{product.price}}</h3>
            <div>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box-element">
            {% if product.descriptionImageURL %}
            <img src="{{product.descriptionImageURL}}" alt="">
            {% else %}
            <p>상품상세이미지가 없습니다.</p>
            {% endif %}
        </div>
    </div>
</div>
{%endblock content %}