@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Noto Sans KR", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: #fff;
}

.l_line {
    border-left: 1px solid #000;
    left: 1%;
    top: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.r_line {
    border-right: 1px solid #000;
    right: 1%;
    top: 0;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.m-line {
    background: #000;
    height: 1px;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    margin: 0;
}

.box-element {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.product {
    border-radius: 0 0 4px 4px;
}

.bg-dark {
    background-color: #4f868c !important;
}

.btn_group {
    height: 80px;
    outline: 1px solid #000;
    padding-right: 1%;
}

.auth {
    border-right: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button, .logout-button {
    color: #000;
    text-decoration: none;
}

.cart {
    position: relative;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon {
    font-size: 28px;
    display: inline-block;
    margin-left: 15px;
}

.cart-total {
    display: block;
    text-align: center;
    color: #000;
    min-width: 30px;
    font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: 0.1s;
}

.chg-quantity:hover {
    opacity: 0.6;
}

.hidden {
    display: none !important;
}

.marquee {
    width: 98%;
    margin: 0 auto;
    grid-column-gap: 1rem;
    background-color: var(--coral);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    overflow: hidden;
}

.marquee-content {
    min-width: 100%;
    grid-column-gap: 1rem;
    flex: none;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.scroll {
    animation: scroll 30s linear infinite;
}

.reverse {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.marquee-content .text {
    font-size: min(8vw, 42px);
    font-weight: 700;
}

.marquee-content .rect {
    width: 4px;
    height: 4px;
    background-color: #000;
}

nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 9;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    font-weight: 700;
}

nav .container-fluid {
    position: absolute;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #1c1c1c;
    min-height: 80px;
}

.navbar-brand {
    margin-left: 4px;
}

.dropdown-menu {
    border-radius: 0 !important;
    border: 1px solid #000;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 1.5rem;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.banner {
    width: 98%;
    margin: 0 auto;
}

.main-banner {
    width: 98%;
    margin: 0 auto;
}

.owl-carousel .item {
    border-right: 1px solid #000;
}

.slider-container {
    width: 100%;
    background: #000;
}

.slide-progress-pc, .slide-progress-tablet, .slide-progress-mobile {
    width: 0;
    max-width: 100%;
    height: 8px;
    background: #fff;
    border: 1px solid #000;
    border-bottom: none;
}

.tablet {
    display: none;
}

.mobile {
    display: none;
}

.section {
    position: relative;
    padding: 36px 24px;
    padding-top: calc(81px + 12px);
}

.section .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px 36px;
    padding-top: 36px;
}

.sections.tablet .section .title {
    padding: 8px 24px;
}

.section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section .text .name {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
}

.section .text .description {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 12px;
}

.section_image-wrap {
    padding: 16px;
}

.section_image {
    max-height: 400px;
    max-width: 100%;
}


.fashion-wrap {
    margin: 0 1%;
}

.fashion {
    margin: 0;
    padding: 24px 48px;
    border-right: 1px solid #000;
}

.fashion-wrap .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fashion-wrap .text .title {
    font-size: 2rem;
    font-weight: 700;
}

.fashion-wrap .text .description {
    font-size: 1.2rem;
    font-weight: 300;
}

.carousel-shirts .item,.carousel-pants .item {
    border: none;
    height: 400px;
    display: flex;
    justify-content: center;
}

.carousel-pants {
    margin-top: -40px;
}

.carousel-shirts .item a img,.carousel-pants .item a img {
    height: 100%;
    width: auto;
}

.content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    width: 98%;
    margin: 0;
    padding: 0;
}

.product {
    margin: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.product .thumbnail {
    width: 100%;
}

.product .text .name {
    font-size: 1.2rem;
    font-weight: 700;
}

.product .text .price {
    font-size: 1rem;
    font-weight: 300;
}

.owl-prev {
    width: 30px;
    height: auto;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid #000;
}

.owl-next {
    width: 30px;
    height: auto;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid #000;
}

.owl-prev:hover, .owl-next:hover {
    background: transparent !important;
    color: #000;
}

.owl-prev i, .owl-next i {
    font-size: 30px;
    color: #000;
}

/* 세로모드 모바일 디바이스 ( 해상도가 576px 보다 작은 화면 ) */
@media (max-width:575px) {
    .pc {
        display: none !important;
    }
    .tablet {
        display: none !important;
    }
    .sections.tablet {
        display: block !important;
    }
    .mobile {
        display: block !important;
    }

}

/* 가로모드 모바일 디바이스 ( 해상도가 768px 보다 작은 화면 ) */
@media (max-width: 767px) {
}

/* 태블릿 디바이스 ( 해상도가 992px 보다 작은 화면 ) */
@media (max-width: 991px) {
    .pc {
        display: none;
    }
    .tablet {
        display: block;
    }
}

/* 데스크탑 ( 해상도가 1200px 보다 작은 화면 ) */
@media (max-width: 1199px) {}
